body {
     margin:0;
     background-color: lightblue;
     
}

button {
    background-color: green;
    color: white;
}
.button:hover {
    background-color: darkblue;
  }
button
{
    background-color:Blue;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}
    

h1 {
    color: darkblue;
}
nav
{
     display:flex;
     justify-content:center;
     gap:25px;
     margin-top:20px;
}
nav a 
{
    
    text-decoretion:none;
     color:black;
    margin:0 15px;
     font-weight:bold;
}
nav a:hover
{
     color:blue;
}

.card
{
    width:300px;
    min-height:220px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,0.2);
    border-radius:10px;
    background:white;    
}
.container
{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:20px;
   
}
.card:hover {
    background-color: lightyellow;
    transform: scale(1.05);
}
img
{
    border-radius:10px;
}
.button
{
    display:inline-bolck;
    background-color:Blue;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    transition:0.3s;
}
@media(max-width:600px){
    .card{
         width:90%;
         margin:20px auto;
    }
}
header
{
      text-align:center;
      padding:30px;
}
header h1
{
     margin:0;
     font-size:40px;
}
header p
{
     font-size:18px;
}
    




